@use '../base/variables' as variables;
@use '../base/mixins' as mixins;

.cruise-section h2 {
  @include mixins.font-size(2.5); // 2.5rem = 40px
  color: variables.$color-secondary;
  font-family: variables.$font-primary;
   @extend .font-weight-regular;
}

.cruise-section p {
  @include mixins.font-size(1.25, 1.7); // 1.25rem = 20px, line-height 1.7
  color: variables.$color-light;
  font-family: variables.$font-secondary;
   @extend .font-weight-regular;
}

.cruise-section .btn-primary {
  background-color: variables.$color-button;
  font-family: variables.$font-secondary;
}
