@use '../base/variables';
@use '../base/mixins';
@use '../helpers/helpers';

.usp-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.usp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0;
  padding-left: 0;

  @include mixins.respond(sm) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

.usp-item {
  display: flex;
  align-items: center;
  @include mixins.font-size(1); // 16px, default line-height 1.5
  font-family: variables.$font-secondary;
  flex: 0 0 auto;

  @include mixins.respond(sm) {
    justify-content: flex-start;
  }
}

.usp-icon {
  width: 31px;
  height: 31px;
}
